@import "tailwindcss";

.container {
  @apply mx-auto px-4 max-w-5xl;
}
button{
  @apply cursor-pointer
}
/* max-sm	@media (width < 40rem) { ... }
max-md	@media (width < 48rem) { ... }
max-lg	@media (width < 64rem) { ... }
max-xl	@media (width < 80rem) { ... }
max-2xl */

.editor-container h1{
  @apply text-3xl font-bold
}
.editor-container h2{
  @apply text-2xl font-bold
}
.editor-container h3{
  @apply text-xl font-bold
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* app/globals.css */
.layout-toggle {
  margin-bottom: 20px;
}

.layout-toggle button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.layout-toggle button:hover {
  background-color: #005bb5;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.article-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.layout-toggle button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.layout-toggle button:hover {
  background-color: #005bb5;
}

/* Styles for Infinite Scroll */

/* Styles for Masonry Grid */
.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* Adjust based on desired gap */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px; /* Adjust based on desired gap */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px; /* Gap between items in a column */
}